@page "/inventory"

@inject Services.ProductControllerProxy productControllerProxy
@inject Services.ProductInstanceControllerProxy productInstanceControllerProxy
@inject NotificationService notificationService
<h3>Inventory</h3>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenGrid Data=@items AllowFiltering="true" AllowPaging="true" AllowSorting="true" TItem="InventoryItem">
        <Columns>
            <RadzenGridColumn TItem="InventoryItem" Property="ProductName" Title="Product" />
            <RadzenGridColumn TItem="InventoryItem" Property="CategoryName" Title="Category" />
            <RadzenGridColumn TItem="InventoryItem" Property="ExpirationDate" Title="ExpireOn" Filterable="false">
                <Template Context="data">
                    @string.Format("dd/MM/yyyy", data.ExpirationDate)
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="InventoryItem" Property="Amount" Title="Amount">
                <Template Context="data">
                    @data.Amount
                    @if (@data.AmountUnit != AmountUnit.Item)
                    {
                        @data.AmountUnit
                    }
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="InventoryItem" Property="ShelfName" Title="Location">
                <Template Context="data">
                    @data.RoomName / @data.ShelfName
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="InventoryItem" Property="ProductInstanceId" Title="Actions">
                <Template Context="data">
                    <RadzenButton Text="Consume" Click="@(args => ConsumeAsync(data.ProductInstanceId, data.ProductName))" />
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}


@code {
    private IEnumerable<InventoryItem> items = null;

    protected override Task OnInitializedAsync()
    {
        return LoadInventory();
    }

    private async Task LoadInventory()
    {
        var response = await productControllerProxy.GetInventory();
        if (response.IsSuccess)
        {
            items = response.Data.Items;
        }
        else
        {
            throw new Exception(response.Error.Message + "-" + response.Error.ErrorCode);
        }
    }

    private async Task ConsumeAsync(long id, string productName)
    {
        var result = await productInstanceControllerProxy.Consume(id);
        if (result.IsSuccess)
        {
            notificationService.Notify(NotificationSeverity.Success, $"Product {productName} Consumed");
            await LoadInventory();
        }
        else
        {
            notificationService.Notify(NotificationSeverity.Error, $"Product {productName} cannot be consumed", result.Error.ErrorCode);
        }
    }
}
